@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    src: url(./Mulish-Light.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    src: url(./Mulish-Regular.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    src: url(./Mulish-Medium.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    src: url(./Mulish-SemiBold.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    src: url(./Mulish-Bold.ttf) format('truetype');
  }
  